<p id="notice"><%= notice %></p>
<!-- <%= @brewery.beers.to_a %> -->
<h2>
  <%= @brewery.name %>
</h2>
<h3>Established year: <%= @brewery.year%></h3>
<p>Number of beers: <%= @brewery.beers.count%></p>
<ul>
 <% @brewery.beers.each do |beer| %>
  <li> <%= link_to beer.name, beer %></li>
 <% end %>
</ul>

<% if @brewery.ratings.empty? %>
 brewery doesn't have rated beers! <br>
<% else %>
 Has <%= pluralize(@brewery.ratings.count, "rating") %> , average = <%= @brewery.average_rating%><br>
<% end %>
<br>
<%= link_to 'Edit', edit_brewery_path(@brewery) %>

