<p id="notice"><%= notice %></p>

<%= form_tag places_path do %>
  city <%= text_field_tag :city, params[:city] %>
  <%= submit_tag "Search" %>
<% end %>
list of places <br>
<% if @places %>
  <ul>
    <% @places.each do |place| %>
    <li><%= link_to place.name, place.path %></li>     
    <% end %>
  </ul>
<% end %>